/* overall styling for begins */

body {
    background-color: tan;
}

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;